.customers-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-container-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $title-color;
}
.customers-list {
  display: flex;
  justify-content: center;
}
.customers-list .item {
  margin-right: 30px;
}
.customers-list .item:last-child {
  margin-right: 0px;
}
.customers-list .link {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid $ferst-icon-color;
  border-radius: 4px;
  color: $ferst-icon-color;
  transition: color 250ms $animation;
}

.customers-list .link:hover,
.customers-list .link:focus {
  color: $accent-color;
  border-color: $accent-color;
}
