.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  opacity: 1;
  transition: opacity 250ms $animation;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) skew(60deg);
}
.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $second-background-color;
  transition: transform 250ms $animation;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: $second-background-color;
  outline: none;
  border: 0px;
  transition: color 250ms $animation;
}

.close-button:hover,
.close-button:focus {
  color: $accent-color;
}

.modal-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $header-text-color;
}

.form-field {
  display: flex;
  flex-direction: column;
}
.form-label {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: $main-text-color;
}
.form-field input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid $form-border-color;
  border-radius: 4px;
  font-size: 14px;
  transition: border 250ms $animation;
}

.form-field input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px $main-title-color inset;
  -webkit-text-fill-color: $logo-color;
}
.form-field textarea {
  resize: none;
  height: 120px;

  padding: 16px 12px 12px 16px;

  border: 1px solid $form-border-color;
  border-radius: 4px;
  font-size: 14px;
  transition: border 250ms $animation;
}

.form-field .textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: $placeholder-color;
}

.form-item .form-input:hover,
.form-item .form-input:focus {
  outline: none;
  border: 1px solid $accent-color;
}

.form-item .form-input:hover + .form-icon,
.form-item .form-input:focus-within + .form-icon {
  color: $accent-color;
}

.form-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.form-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $main-text-color;
}

.button {
  margin-top: 30px;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  outline: none;
  background-color: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $main-title-color;
  border-width: 0;
}

.button:active {
  transform: scale(1.01);
}
.form-checkbox {
  margin-top: 20px;
}

.form-item {
  position: relative;
  transition: solid 250ms $animation, color 250ms $animation;
}
.form-item + .form-item {
  margin-top: 10px;
}

.form-item .icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.icon-ceck {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid $checkbox-icon-color;
  border-radius: 4px;
}

.form-policy {
  display: flex;
  align-items: center;
}

.checkbox:checked + .icon-ceck {
  background-color: $accent-color;
  background-image: url(../img/icon/icon\check.svg);
  background-size: contain;
  background-origin: border-box;
  border: 2px solid $accent-color;
}
